{% extends 'authapp/layout.html' %}
{% load static %}

{% block content %}
    {% if user_is_exists %}
    <div class="main_profile">
        <div class="profile_left_block">
            <div class="profile_photo" style="background-color: #6c6c6c"></div>
            <div class="del_line" style="margin-top: 10px"></div>
            <div class="social_media">
                <a href="{{ page_user.vk_url }}" class="social_link" target="_blank"><img src="{% static 'img/vk_icon.svg' %}" alt=""></a>
                <a href="{{ page_user.instagram_url }}" class="social_link" target="_blank"><img src="{% static 'img/instagram_icon.svg' %}" alt=""></a>
                <a href="{{ page_user.telegram_url }}" class="social_link" target="_blank"><img src="{% static 'img/telegram_icon.svg' %}" alt=""></a>
                <a href="{{ page_user.facebook_url }}" class="social_link" target="_blank"><img src="{% static 'img/facebook_icon.svg' %}" alt=""></a>
            </div>
            <div class="del_line"></div>
            <div class="profile_subscribers_block">
                <p class="profile_subscribers_text">Subscribers:</p>
                <div class="profile_subscribers">

                </div>
            </div>
        </div>
        <div class="profile_right_block">
            <div class="profile_name">
                <div style="display: flex">
                    <h4>{{ page_user.first_name }}</h4>
                    <div class="profile_online_dot"></div>
                </div>
                <h4>{{ page_user.last_name }}</h4>
            </div>
            <div class="del_line" style="margin-top: 10px; width: 660px"></div>
            {% if page_id is request.user.id and user.is_authenticated%}
            <div class="profile_buttons_block">
                <a href="{% url 'auth:edit' %}" class="profile_button">Edit profile</a>
                <a href="{% url 'groupsapp:index' %}" class="profile_button">Groups</a>
                <a href="" class="profile_button">Shear</a>
            </div>
            <div class="del_line" style="margin-top: 10px; width: 660px"></div>
            {% else %}
            <div class="profile_buttons_block">
                {% if user.is_authenticated %}
                    <a href="" class="profile_button">Subscribe</a>
                    <a href="" class="profile_button">Write</a>
                {% endif %}
                <a href="" class="profile_button">Shear</a>
            </div>
            <div class="del_line" style="margin-top: 10px; width: 660px"></div>
            {% endif %}
            <div class="profile_main_info">
                <p class="profile_main_info_text">Email: {{ page_user.email }}</p>
                <p class="profile_main_info_text">Age: {{ page_user.age }}</p>
                <p class="profile_main_info_text">About me: {{ page_user.about_me }}</p>
            </div>
            <div class="del_line" style="width: 660px"></div>
            <div class="profile_activity">
                <h4 class="profile_activity_h">Last activity:</h4>
                <div class="last_profile_activity">
                    <p class="last_profile_activity_text">User have been registered at {{ page_user.date_joined }} </p>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="pass">
        <h1>user does not exist</h1>
    </div>
    {% endif %}
{% endblock %}
