{% extends 'authapp/layout.html' %}
{% load static %}

{% block content %}
    <div class="main_profile">
        <div class="profile_left_block">
            <div class="profile_photo" style="background-color: #6c6c6c"></div>
            <div class="del_line" style="margin-top: 10px"></div>
        </div>
        <div class="profile_right_block">
            <div class="profile_name">
                <div style="display: flex">
                    <h4>{{ request.user.first_name }}</h4>
                    <div class="profile_online_dot"></div>
                </div>
                <h4>{{ request.user.last_name }}</h4>
            </div>
            <div class="del_line" style="margin-top: 10px; width: 660px"></div>
            {% if page_id is request.user.id %}
            <div class="profile_buttons_block">
                <a href="{% url 'auth:edit' %}" class="profile_button">Edit profile</a>
                <a href="" class="profile_button">Groups</a>
                <a href="" class="profile_button">Shear</a>
            </div>
            <div class="del_line" style="margin-top: 10px; width: 660px"></div>
            {% else %}
            <div class="profile_buttons_block">
                <a href="" class="profile_button">Subscribe</a>
                <a href="" class="profile_button">Write</a>
                <a href="" class="profile_button">Shear</a>
            </div>
            <div class="del_line" style="margin-top: 10px; width: 660px"></div>
            {% endif %}
        </div>
    </div>
{% endblock %}
