* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.logo{
    width: 175px;
    padding-top: 5px;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.header {
    display: flex;
    height: 100px;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-between;
    background-color: #f7f7f7;
}

.menu {
    display: flex;
    margin-top: 24px;
}

.menu-list {
    list-style-type: none;
}

.menu-link {
    color: #8c8c8c;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    display: block;
    padding: 15px;
}

.menu-link-active{
    letter-spacing: 1.4px;
    border-bottom: 3px solid;
    color: #212121;
    font-weight: 700;
}

.menu-link-active:hover {
    border-bottom: 2px solid;
}

.menu-link:hover {
    color: #212121;
}

.content {

}

.pass {
    height: 500px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.pass h1 {
    color: #212121;
    font-size: 35px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.footer {
    display: flex;
    height: 260px;
    background-color: #f7f7f7;
    padding-top: 70px;
    padding-left: 98px;
    padding-right: 98px;
    flex-direction: column;
    justify-content: space-between;
}

.footer_up{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.footer_contact {
    display: flex;
    width: 220px;
    height: 150px;
    flex-direction: column;
    justify-content: space-around;
}

.footer_contact h6 {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.footer_contact p {
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

.footer_useful_info {
    display: flex;
    width: 425px;
    height: 150px;
    flex-direction: column;
    justify-content: space-around;
}

.footer_useful_info h6 {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.footer_useful_info_block {
    display: flex;
    justify-content: space-around;
}

.footer_useful_info_links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer_useful_info_links a {
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
}

.footer_useful_info_links a:hover{
    color: #6c6c6c;
}

.footer_touch_email {
    display: flex;
    width: 370px;
    height: 150px;
    flex-direction: column;
    justify-content: space-around;
}

.footer_touch_email h6 {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.footer_touch_email p {
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

.footer_touch_email_input {
    width: 370px;
    height: 48px;
    border: 1px solid #d9dee1;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding-left: 20px;
}

.footer_down {
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.footer_down p {
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}

.footer_down_privacy_link {
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}

.auth_forms {
    display: flex;
    justify-content: center;
}

.register_form {
    width: 500px;
    margin: 50px;
    background-color: #f7f7f7;
}

.register_form h3 {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    display: block;
    margin-top: 15px;
    margin-bottom: 10px;
}

.register_form form p {
    display: flex;
    flex-direction: column;
}

.register_form form p label {
    display: block;
    margin: 8px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.6px;
}

.register_form form p input {
    height: 48px;
    border: 1px solid #d9dee1;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding-left: 20px;
    margin: 8px;
}

.errorlist {
    margin: 8px;
}

.errorlist li{
    list-style-type: none;
    color: #e53935;
    font-size: 14px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.auth_submit_block {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.auth_forms_submit_button {
    text-align: center;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    height: 45px;
    line-height: 45px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    display: inline-block;
    letter-spacing: 3.6px;
    width: 300px;
}

.auth_forms_submit_button:hover{
    background-color: #d9dee1;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
}

.auth_forms_submit_button:active{
    position: relative;
    top: 2px;
    box-shadow: 0 0 5px 1px rgba(33, 33, 33, 0.35);
}

.login_form {
    width: 500px;
    margin: 50px;
    background-color: #f7f7f7;
}

.login_form h3 {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    display: block;
    margin-top: 15px;
    margin-bottom: 10px;
}

.login_form form p {
    display: flex;
    flex-direction: column;
}

.login_form form p label {
    display: block;
    margin: 8px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.6px;
}

.login_form form p input {
    height: 48px;
    border: 1px solid #d9dee1;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding-left: 20px;
    margin: 8px;
}

.edit_form {
    width: 500px;
    margin: 50px;
    background-color: #f7f7f7;
}

.edit_form h3 {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    display: block;
    margin-top: 15px;
    margin-bottom: 10px;
}

.edit_form form p {
    display: flex;
    flex-direction: column;
}

.edit_form form p label {
    display: block;
    margin: 8px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.6px;
}

.edit_form form p input {
    height: 48px;
    border: 1px solid #d9dee1;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding-left: 20px;
    margin: 8px;
}

.catalog_groups {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.catalog_group {
    display: inline-block;
    text-align: center;
    height: 400px;
    width: 300px;
    margin: 35px;
    background-color: #8b8b8b;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 25px;
}

.catalog_group:hover {
    opacity: 0.6;
    background-color: #d9dee1;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
}

.catalog_group:active {
    position: relative;
    top: 2px;
    box-shadow: 0 0 5px 1px rgba(33, 33, 33, 0.35);
}

.catalog_group h4 {
    font-size: 25px;
    margin: 10px;
    color: #212121;
    text-transform: uppercase;
}

.catalog_group p {
    font-size: 15px;
    margin: 10px;
    color: #212121;
    text-transform: uppercase;
}

.main_group {
    display: flex;
    width: 1166px;
    padding-left: 100px;
    padding-right: 100px;
}

.group_info {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 10px;
    margin: 20px;
    background-color: #f7f7f7;
}

.main_group_info {
    display: flex;
    height: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.main_group_photo {
    height: 100px;
    width: 100px;
    color: #6c6c6c;
    margin-left: 10px;
}

.main_group_name {
    margin-left: 15px;
    font-size: 23px;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.del_line {
    height: 5px;
    width: 400px;
    background-color: #ffffff;
}

.main_group_description {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.main_group_description h4 {
    color: #212121;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 10px;
}

.main_group_description p {
    color: #212121;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
}

.main_group_buttons {
    width: 400px;
    margin-top: 25px;
    text-align: center;
}

.main_group_button {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    height: 45px;
    line-height: 45px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    display: inline-block;
    letter-spacing: 3.6px;
    width: 300px;
}

.main_group_button:hover {
    background-color: #d9dee1;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
}

.main_group_button:active {
    position: relative;
    top: 2px;
    box-shadow: 0 0 5px 1px rgba(33, 33, 33, 0.35);
}

.group_tasks {
    display: flex;
    flex-direction: column;
    width: 450px;
    background-color: #f7f7f7;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

.group_users {
    display: flex;
    flex-direction: column;
    width: 176px;
    background-color: #f7f7f7;
    margin: 20px;
    padding: 10px;
}

.group_users h3 {
    font-size: 20px;
    margin: 10px;
    color: #212121;
    text-transform: uppercase;
}

.group_user {
    display: flex;
    height: 40px;
    padding: 3px;
}

.group_user:hover {
    background-color: #d9dee1;
}

.user_photo {
    height: 40px;
    width: 40px;
    background-color: #6c6c6c;
    border-radius: 25px;
}

.user_name {
    margin-left: 8px;
    height: 40px;
}

.user_name p {
    color: #212121;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
}

.online_dot {
    height: 10px;
    width: 10px;
    border-radius: 9px;
    background-color: green;
    margin-left: 5px;
    margin-top: 5px;
}

.offline_dot {
    height: 10px;
    width: 10px;
    border-radius: 9px;
    background-color: red;
    margin-left: 5px;
    margin-top: 5px;
}

.group_tasks h3 {
    font-size: 20px;
    margin: 10px;
    color: #212121;
    text-transform: uppercase;
}

.tasks_buttons {
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin-bottom: 10px;
}

.tasks_button {
    color: #212121;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    height: 40px;
    line-height: 45px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    display: inline-block;
    letter-spacing: 3.6px;
    width: 150px;
}

.tasks_button:hover {
    background-color: #d9dee1;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
}

.tasks_button:active {
    position: relative;
    top: 2px;
    box-shadow: 0 0 5px 1px rgba(33, 33, 33, 0.35);
}

.active_tasks {
    display: flex;
    flex-direction: column;
}

.active_tasks h4 {
    font-size: 17px;
    margin-left: 10px;
    margin-top: 10px;
    color: #212121;
    text-transform: uppercase;
}

.active_task {
    margin-top: 15px;
    padding-left: 25px;
    padding-right:25px;
    height: 100px;
    width: 400px;
    border-radius: 25px;
    background-color: #ffffff;
    display: inline-block;
}

.active_task:hover {
    background-color: #d9dee1;
}


.active_task_name {
    font-size: 17px;
    color: #212121;
    margin-top: 5px;
}

.active_task_text {
    font-size: 15px;
    color: #212121;
}

.qr_cod {
    display: block;
    height: 400px;
    width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pass_text {
    font-size: 25px;
    color: #212121;
}

.pass_button {
    color: #212121;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    height: 40px;
    line-height: 45px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    display: inline-block;
    letter-spacing: 3.6px;
    width: 200px;
}

.pass_button:hover {
    background-color: #d9dee1;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
}

.pass_button:active {
    position: relative;
    top: 2px;
    box-shadow: 0 0 5px 1px rgba(33, 33, 33, 0.35);
}

.shear {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
}

.shear_block {
    display: flex;
    width: 800px;
    background-color: #f7f7f7;
}

.choice_qr_block {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.qr_shear {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.qr_shear h3 {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
}

.qr_url_input {
    height: 50px;
    width: 350px;
    border: 1px solid #d9dee1;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.copy_button {
    height: 52px;
    width: 50px;
    border: 1px solid #d9dee1;
    margin-top: 10px;
}

.copy_button:hover {
    background-color: #d9dee1;
}

.choice_qr {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-left: 10px;
    width: 150px;
    height: 100px;
    margin-top: 20px;
    background-color: #d9dee1;
}

.choice_qr_text {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    color: #212121;
}

.choice_qr:hover {
    background-color: #8c8c8c;
}

.choice_qr_add {
    margin-left: 60px;
    margin-top: 10px;
    height: 50px;
    width: 50px;
}
