{% extends 'groupsapp/layout.html' %}
{% load static %}

{% block content %}
    {% if user.is_authenticated and not uuid %}
        <div class="pass">
            <p class="pass_text">You don't have access key was wrong</p>
        </div>
    {% elif user.is_authenticated and not group %}
        <div class="pass">
            <p class="pass_text">You don't have access to this group</p>
        </div>
    {% elif user.is_authenticated %}
        <div class="main_group">
            <div class="group_info">
                <div class="main_group_info">
                    <div class="main_group_photo" style="background-color: #6c6c6c"></div>
                    <div class="main_group_name">
                        <div>
                            {{ group.name }}
                        </div>
                    </div>
                </div>
                <div class="del_line"></div>
                <div class="main_group_description">
                    <h4>{{ group.short_desc }}</h4>
                    <p>{{ group.description }}</p>
                </div>
                <div class="del_line"></div>
                <div class="main_group_buttons">
                    <a href="{% url 'shear:index' id=group.id key=uuid%}" class="main_group_button">add user</a>
                    <a href="{% url 'groups:user_list' id=group.id key=uuid %}" class="main_group_button">user list</a>
                    {% if permission.is_admin or permission.is_creator %}
                        <a href="{% url 'groups:edit_group' id=group.id key=uuid%}" class="main_group_button">edit group</a>
                    {% endif %}
                    <a href="{% url 'groups:remove_user' id=group.id key=uuid%}" class="main_group_button" style="color: #e53935">leave group</a>
                </div>
            </div>
            <div class="group_tasks">
                <h3>Tasks</h3>
                <div class="del_line" style="width: 450px; margin-bottom: 10px"></div>
                <div class="tasks_buttons">
                    {% if permission.is_moderator or permission.is_admin or permission.is_creator %}
                        <a href="{% url 'groups:new_task' id=group.id%}" class="tasks_button">
                            add task
                        </a>
                    {% else %}
                        <a class="tasks_button_un_active">
                            add task
                        </a>
                    {% endif %}
                    <a href="{% url 'groups:all_tasks' key=group.uuid %}" class="tasks_button">
                        all tasks
                    </a>
                </div>
                <div class="del_line" style="width: 450px; margin-bottom: 10px"></div>
                <div class="active_tasks">
                    <h4>Active: 4/10</h4>
                    <a href="" class="active_task">
                        <div style="display: flex; height: 30px; justify-content: space-between">
                            <p class="active_task_name">Lorem ipsum dolor.</p>
                            <p class="active_task_name">Lorem ipsum.</p>
                        </div>
                        <p class="active_task_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus eveniet in mollitia nulla reiciendis, sunt...</p>
                    </a>
                    <a href="" class="active_task">
                        <div style="display: flex; height: 30px; justify-content: space-between">
                            <p class="active_task_name">Lorem ipsum dolor.</p>
                            <p class="active_task_name">Lorem ipsum.</p>
                        </div>
                        <p class="active_task_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus eveniet in mollitia nulla reiciendis, sunt...</p>
                    </a>
                    <a href="" class="active_task">
                        <div style="display: flex; height: 30px; justify-content: space-between">
                            <p class="active_task_name">Lorem ipsum dolor.</p>
                            <p class="active_task_name">Lorem ipsum.</p>
                        </div>
                        <p class="active_task_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus eveniet in mollitia nulla reiciendis, sunt...</p>
                    </a>
                    <a href="" class="active_task">
                        <div style="display: flex; height: 30px; justify-content: space-between">
                            <p class="active_task_name">Lorem ipsum dolor.</p>
                            <p class="active_task_name">Lorem ipsum.</p>
                        </div>
                        <p class="active_task_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus eveniet in mollitia nulla reiciendis, sunt...</p>
                    </a>
                </div>
            </div>
            <div class="group_users">
                <h3>Users</h3>
                <div class="del_line" style="width: 176px; margin-bottom: 10px"></div>
                {% for i in all_users %}
                    <a href="{% url 'auth:profile' id=i.user.id %}" class="group_user">
                        <div class="user_photo"></div>
                        <div class="user_name">
                            <div style="display: flex">
                                <p>{{ i.user.first_name }}</p>
                                <div class="online_dot"></div>
                            </div>
                            <p>{{ i.user.last_name }}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="pass">
            <div class="pass">
            <p class="pass_text">You must login or register to get access to group</p>
            <div style="display: flex; justify-content: center; margin-top: 20px">
                <a href="{% url 'auth:login' %}" class="pass_button" style="margin-right: 20px">Login</a>
                <a href="{% url 'auth:register' %}" class="pass_button">Register</a>
            </div>
        </div>
        </div>
    {% endif %}
{% endblock %}
